.wrapper {
    margin: 100px 0 0 100px;
    width: 500px;
    height: 300px;

    border: 10px solid black;
    border-radius: 30px;

    background-color: cadetblue;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.displaySettings {
    font-family: "Noto Sans", sans-serif;
}

.displaySettings .item {
    align-items: center;
    margin: 20px 20px;
    font-size: 30px;
    font-weight: 800;
    display: flex;

}

.displaySettings .item span {
    width: 180px;
}

.item input {
    margin-left: 40px;
    width: 150px;
    height: 35px;
    font-size: 35px;
    padding: 10px 0 10px 30px;
    border: 5px solid black;
    background: white;
    outline: none;
    border-radius: 15px;
}

.setBTN button{
    margin-top: 20px;
    width: 150px;
    height: 50px;

    font-size: 30px;
    font-family: Impact, sans-serif;

    background-color: #fd9164;
    border: 5px solid black;
    border-radius: 15px;

    cursor: pointer;
    transition: 50ms ease-in-out;
}

.setBTN button:hover {
    background-color: #ff6f3d;
    transform: translateY(-3px);
    transition: 50ms ease-in-out;
}